@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 10px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  background-color: #F6F1EB;
}

.leaflet-popup-content-wrapper {
  padding:0!important;
  background-color: #F6F1EB !important;
  border-radius: 20px;
  overflow: hidden;
  max-width: 240px;
}

.leaflet-popup-tip {
  background-color: #F6F1EB !important;
}

.leaflet-popup-content {
  margin: 0px !important;
  overflow-wrap:break-word;
}

.leaftlet-popup-content-spacer {
  margin-top: 8px;
  margin-bottom: 8px;
  border-color: #102E1E;
  color: #102E1E;
  border-style: solid;
}

::-webkit-scrollbar {
  width: 0.5rem; 
}

::-webkit-scrollbar-track {
  background-color: #ffffffcc;
}

::-webkit-scrollbar-thumb {
  width: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: #a7a7a7cc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646464;
}